# The Zen Of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Variables

A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [11]:
x = 2
y = 5
xy = 'Hey'

In [12]:
print (x+y, xy)

7 Hey

Multiple variables can be assigned with the same value.

In [13]:
x = y = 1

In [15]:
print(x, y)

1 1

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [24]:
17 / 6

2.8333333333333335

In [25]:
17 // 6

2

In [20]:
17 % 3

2

In [26]:
2*2*2*2*2

32

In [27]:
2**5

32

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [8]:
z = 1

In [9]:
z == 1

True

In [10]:
z > 1

False

In [44]:
z != 2

True

# Built-in Functions

Python comes loaded with pre-built functions

更多的 Built-in function 請參考 https://docs.python.org/3/library/functions.html

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [45]:
print(int('010', 8))
print(int('0xaa', 16))
print(int('1010', 2))

8
170
10

**int( )** can also be used to get only the integer value of a float number or can be used to convert a number which is of type string to integer format. Similarly, the function **str( )** can be used to convert the integer back to string format

In [25]:
print(int(7.7))
print(int('7'))

7
7

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [28]:
print(round(5.6231))
print(round(4.55892, 2))

6.0
4.56

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [30]:
divmod(9, 2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [49]:
print(isinstance(1, int))
print(isinstance(1.0, int))
print(isinstance(1.0, (int, str, float)))

True
False
True

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range

In [1]:
print(list(range(3)))
print(list(range(2, 9)))
print(list(range(2, 27, 8)))
print(list(range(10, 0, -1)))

[0, 1, 2]
[2, 3, 4, 5, 6, 7, 8]
[2, 10, 18, 26]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**format()** function 提供很簡潔的方式將變數放進字串中，用在儲存檔名時非常好用。更多細節可參考 [pyformat](https://pyformat.info/#simple)

In [67]:
name = 'Adam'
age = 18
score = 87

print('name={} age={}'.format(name, age))
print('name={n} age={a}'.format(a=age, n=name))
print('name:\t{}\nscore:\t{:.2f}'.format(name, score))

name=Adam age=18
name=Adam age=18
name:	Adam
score:	87.00

# Containers

In [99]:
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

## Tuples
In Python, tuples are part of the standard language. This is a data structure very similar to the list data structure. The main difference being that tuple manipulation are faster than list because tuples are immutable.

### Methos of Tuples
Tuples are optimised, which makes them very simple objects. There are two methods available only: ** .index **, ** .count **

In [7]:
l = (1, 2, 3, 1)
print(type(l))

<class 'tuple'>

In [8]:
l.count(1)

2

In [9]:
l.index(2)

1

## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.



Lists are declared by just equating a variable to '[ ]' or list.

In [104]:
a = []

In [105]:
print(type(a))

<class 'list'>

In [106]:
x = ['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [107]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [108]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [109]:
y = ['carrot', 'potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [111]:
z = [x, y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [112]:
z1 = z[0]
print(z1)

['apple', 'orange']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [113]:
z1[0]

'apple'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [114]:
z[0][0]

'apple'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [53]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
print(num[:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [119]:
print(num[:9:3])

[0, 3, 6]

### Methos of  List

In [120]:
print(len(num))

10

In [122]:
print(min(num))
print(max(num))

0
9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [123]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [124]:
names = ['Earth', 'Air', 'Fire', 'Water']

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [125]:
'Fire' in names

True

In [126]:
'Rajath' in names

False

**append( )** is used to add a element at the end of the list.

In [128]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [129]:
lst.count(1)

3

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [131]:
lst1 =[5, 4, 2, 8]
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [132]:
lst.index(1)

0

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [133]:
lst.insert(5, 'name')
print (lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8]]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [135]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8]]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [136]:
lst.pop()

[5, 4, 2, 8]

Index value can be specified to pop a ceratin element corresponding to that index value.

In [137]:
lst.pop(0)

1

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [138]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1]

Alternative to **remove** function but with using index value is **del**

In [140]:
del lst[1]
print(lst)

[1, 8, 7, 1]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [141]:
lst.reverse()
print(lst)

[1, 7, 8, 1]

In [144]:
lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[1, 1, 7, 8]
[8, 7, 1, 1]

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [158]:
set1 = set()
print(type(set1))

<class 'set'>

In [159]:
set0 = set([1, 2, 2, 3, 3, 4])

print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

##  Methos of Sets

In [166]:
set1 = set([1, 2, 3])
set2 = set([2, 3, 4, 5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [161]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [163]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [164]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [165]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [167]:
set2.symmetric_difference(set1)

{1, 4, 5}

##  Methos of Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [169]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [170]:
d0['One'] = 1
d0['OneTwo'] = 12 
print (d0)

{'One': 1, 'OneTwo': 12}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [171]:
print(d0['One'])

1

Two lists which are related can be merged to form a dictionary.

In [172]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

**zip( )** function is used to combine two lists

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [178]:
a1 = dict(zip(names, numbers))
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

###  Methos of Dictionary

Dictionary can also be built using loops.

In [179]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print (a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

**values( )** function returns a list with all the assigned values in the dictionary.

In [180]:
a1.values()

dict_values([1, 2, 3, 4, 5])

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [181]:
a1.keys()

dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [183]:
a1.items()

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])


**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [184]:
a2 = a1.pop('Four')
print (a1)
print (a2)

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}
4

## 控制迴圈

In [190]:
x = 12
if x > 10:
    print("Hello")

Hello

In [192]:
x = 2
if x > 10:
    print("hello")
else:
    print("world")

world

In [194]:
x = 10
y = 12
if x > y:
    print("x > y")
elif x < y:
    print("x < y")
else:
    print("x = y")

x < y

In [195]:
x = 10
y = 12
if x > y:
    print("x > y")
elif x < y:
    print("x < y")
    if x == 10:
        print("x = 10")
    else:
        print("invalid")
else:
    print("x = y")

x < y
x = 10

In [197]:
for i in range(5):
    print(i)

0
1
2
3
4

In [198]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [199]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print(x)

1
2
3
4
5
6
7
8
9

In [200]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

In [201]:
for i in range(100):
    print(i)
    if i >= 7:
        break

0
1
2
3
4
5
6
7

In [202]:
for i in range(10):
    if i > 4:
        print("The end.")
        continue
    elif i < 7:
        print(i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

### list comprehension

In [204]:
b = [i for i in range(10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
b = [i**2 for i in range(10)]
print(b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Understanding the code, The first bit of the code is always the algorithm and then leave a space and then write the necessary loop. But you might be wondering can nested loops be extended to list comprehensions? Yes you can.

In [206]:
[27*x for x in range(1, 20) if x <= 10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

## 練習題目

**Question 1,   Level 1 **

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: 
Consider use range(#begin, #end) method

In [3]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [18]:
[str(i) for i in range(2000, 3201) if (i%7==0) & (i%5!=0)]

['2002',
 '2009',
 '2016',
 '2023',
 '2037',
 '2044',
 '2051',
 '2058',
 '2072',
 '2079',
 '2086',
 '2093',
 '2107',
 '2114',
 '2121',
 '2128',
 '2142',
 '2149',
 '2156',
 '2163',
 '2177',
 '2184',
 '2191',
 '2198',
 '2212',
 '2219',
 '2226',
 '2233',
 '2247',
 '2254',
 '2261',
 '2268',
 '2282',
 '2289',
 '2296',
 '2303',
 '2317',
 '2324',
 '2331',
 '2338',
 '2352',
 '2359',
 '2366',
 '2373',
 '2387',
 '2394',
 '2401',
 '2408',
 '2422',
 '2429',
 '2436',
 '2443',
 '2457',
 '2464',
 '2471',
 '2478',
 '2492',
 '2499',
 '2506',
 '2513',
 '2527',
 '2534',
 '2541',
 '2548',
 '2562',
 '2569',
 '2576',
 '2583',
 '2597',
 '2604',
 '2611',
 '2618',
 '2632',
 '2639',
 '2646',
 '2653',
 '2667',
 '2674',
 '2681',
 '2688',
 '2702',
 '2709',
 '2716',
 '2723',
 '2737',
 '2744',
 '2751',
 '2758',
 '2772',
 '2779',
 '2786',
 '2793',
 '2807',
 '2814',
 '2821',
 '2828',
 '2842',
 '2849',
 '2856',
 '2863',
 '2877',
 '2884',
 '2891',
 '2898',
 '2912',
 '2919',
 '2926',
 '2933',
 '2947',
 '2954',
 '2961',
 '2968',
 '2982',
 '2989',
 '2996',
 '3003',
 '3017',
 '3024',
 '3031',
 '3038',
 '3052',
 '3059',
 '3066',
 '3073',
 '3087',
 '3094',
 '3101',
 '3108',
 '3122',
 '3129',
 '3136',
 '3143',
 '3157',
 '3164',
 '3171',
 '3178',
 '3192',
 '3199']

**Question 2,   Level 1 **

With a given integral number n , write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:

8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [5]:
n=int(8)
d=dict()

for i in range(1, n+1):
    d[i] = i * i

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**Question 3,   Level 1 **

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [20]:
ans = 1
for x in range(1, 9):
    ans = ans * x 
    
print(ans)

40320

In [38]:
def fact(x):
    if x == 0 or x == 1:
        return 1
    return x * fact(x-1)

x = 8
print(fact(x))

40320

**Question 4,   Level 2 **

Write a Python program to construct the following pattern, using a nested for loop.

In [218]:
print("""
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
""")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n, 0, -1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**Question 5,   Level 2 **

Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

**Question 6,   Level 2 **

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [55]:
for fizzbuzz in range(50):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("fizzbuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("buzz")
        continue

fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz

**Question 7,   Level 2 **

Write a Python program to print the even numbers from a given list.

In [ ]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

**Question 8,   Level 2 **

Write a Python function to sum all the numbers in a list.

In [58]:
def sum_all(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum_all((8, 2, 3, 0, 7)))

20

**Question 9,   Level 3 **

Write a Python program to find one missing number from a sequence.

Input : [1, 2, 3, 4, 6, 7, 8]

Output : 5

Input : [10, 11, 12, 14, 15, 16, 17]

Output : 13

In [40]:
def missing_number(num_list):
    return sum(range(num_list[0], num_list[-1]+1)) - sum(num_list)

print(missing_number([1, 2, 3, 4, 6, 7, 8]))
print(missing_number([10, 11, 12, 14, 15, 16, 17]))

5
13

In [41]:
print(missing_number([1, 2, 3, 4, 6, 7, 8]))

5

**Question 10,   Level 3 **

Write a Python program to find missing numbers from a sequence.

Input : [1, 2, 3, 4, 6, 7, 10]

Output : [5, 8, 9]

Input : [10, 11, 12, 14, 17]

Output : [13, 15, 16]

In [42]:
def missing_numbers(num_list):
    original_list = [x for x in range(num_list[0], num_list[-1]+1)]
    num_list = set(num_list)
    
    return (list(num_list.symmetric_difference(set(original_list))))

print(missing_numbers([1, 2, 3, 4, 6, 7, 10]))
print(missing_numbers([10, 11, 12, 14, 17]))

[5, 8, 9]
[13, 15, 16]

入學考試第一題

In [88]:
import math
def compute_std(A):
    sum = 0
    n = len(A)
    for x in A:
        sum += x
    mean = sum / n

    dev = 0
    for x in A:
        dev += (x - mean)**2
        
    std = math.sqrt(dev / (n-1))
    print(std)
    
compute_std([1, 1, 2, 3, 4, 5])

1.632993161855452

入學考試第二題

In [18]:
def fib(x):
    if x == 0:
        return 0
    elif x == 1:
        return 1
    else:
        return fib(x-1) + fib(x-2)

In [19]:
fib(30)

832040

In [24]:
i = 1
a = 0
b = 1
while i < 30:
    a, b = b, a + b
#     試試看如果用 comment 掉的 code 跑會有甚麼結果?   
#     a = b
#     b = a + b
    i += 1
    if i == 30:
        print(b)

536870912

## 字串處理

Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [1]:
String = "hello word"
print(String, type(String))

hello word <class 'str'>

In [2]:
print(String[0])
print(String[:4])

h
hell

In [3]:
print(String.find("he"))

0

In [4]:
print(String.capitalize())

print(String.upper())

print(String.endswith("d"))

print(String.split(" "))

print(String.replace("hello", "Nihao"))

print(String.strip())

Hello word
HELLO WORD
True
['hello', 'word']
Nihao word
hello word

In [5]:
a = "1"
print(a.zfill(3))

001

## regular expression
regular expression 是在搜尋大量文字時非常好用的工具，可以快速回傳符合您要求的文字

例如尋找任何像是電話號碼、E-mail 信箱的文字

範例 02 會透過一些簡單的練習帶您了解 regular expression



補充資料

* [更詳盡的 regular expression 符號解釋](https://atedev.wordpress.com/2007/11/23/%E6%AD%A3%E8%A6%8F%E8%A1%A8%E7%A4%BA%E5%BC%8F-regular-expression/)
* [常見的 regular expression 寫法](https://www.analyticsvidhya.com/blog/2017/03/extracting-information-from-reports-using-regular-expressons-library-in-python/)
* 如果想擷取中文的 regular expression，可用[\u4e00-\u9fa5]，會幫你找出所有中文字，其結果如同英文的 [A-Z]

### *, +, {} 的用法
\* 代表前面的字元可出現零次以上，而 + 則是代表前面的字元至少要出現一次以上，{m,n} 則是代表前面的字元可出現 m 次 ~ n 次

In [6]:
import re

pattern = "a+b*c"
test_string = 'find aabc, ac, skip abb, dd'
re.findall(pattern, test_string)

['aabc', 'ac']

###  找到英數字
中括號代表的意思是「這個字元可以是括號內的任何一個」，以數字為例，[0-9]代表這個字元可以是 0~9 之間的任意數字，如果是 [a-z] 則代表是小寫字母 a~z 之間的任意文字，聰明的你，應該可以猜出 [A-Z] 代表的是甚麼意思吧?

In [7]:
import re

pattern = "[0-9]+"
test_string = '12 drummers drumming, 11 pipers piping, 10 lords a-leaping'
re.findall(pattern, test_string)

['12', '11', '10']

### 找到文字
當有指定的文字需要搜尋，可透過 [ ] 搭配 *, + ,{} 進行搜尋

In [8]:
import re

pattern = "[cmf]an"
test_string = 'find: can, man, fan, skip: dan, ran, pan'
re.findall(pattern, test_string)

['can', 'man', 'fan']

### 跳脫符號
當想要搜尋的字元，在 regular expression 已經是保留字的時候，就要使用跳脫符號

例如你想要搜尋符合 "+" (加號) 這個文字，但是 "+" 在 regular expression 是代表出現一次以上的意思

這時在 "+" 前面加上 "\" (跳脫符號)，這樣做的話 regular expression 就會知道你是要尋找 "+"

In [ ]:
import re

pattern = ".{3}\."
test_string = 'find: 591., dot., yes., skip: non!'
re.findall(pattern, test_string)

### 條件式搜尋
當希望不同的搜尋條件都能夠符合時，可以使用「|」這個符號，代表左右邊只要任一一個條件符合，就會回傳

In [ ]:
import re

pattern = "I love cats|I love dogs"
test_string = 'find: I love cats, I love dogs, skip: I love logs, I love cogs'
re.findall(pattern, test_string)

###  Email 搜尋

In [ ]:
import re

email_text = """
Big Data Analytics/ Deep LearningSocial Computing / Computational Social Science / Crowdsourcing
Multimediaand Network SystemsQuality of ExperienceInformation SecurityPh.D. candidate at NTU EEchihfan02-27883799#1602Camera CalibrationComputer VisionData
Analysiscmchang02-27883799#1671System OptimizationMachine LearningyusraBig data
analysiscclin02-27883799#1668Data Analysisrusi02-27883799#1668Government Procurement ActFinancial
Managementkatekuen02-27883799#1602AdministrationEvent Planningseanyu02-27883799#1668Data 
AnalysisPsychology & NeuroscienceMarketingxinchinchenEmbedded Systemkyoyachuan062602-27883799
#1601FinTechActuarial ScienceData Analysiskai0604602-27883799#1601Data AnalysisMachine Learningchloe02-27839427Accountingafun02-27883799 afun@iis.sinica.edu.tw
#1673Data AnalysisWeb developmentyunhsu198902-27883799#1668MarketingTIGP Ph.D. Fellow at Academia Sinica & NCCUbaowalyMachine LearningData AnalysisSocial Computingchangyc1427883799#1678
Data Analysisjimmy1592302-2788379 jimmy15923@iis.sinica.com.tw#1688Data AnalysisjasontangAnalysisMachine Learninguchen02-27883799#1668Deep Learningpjwu02-27883799#1604Computational PhotographyData Analysis
"""

re.findall("([A-Za-z0-9._]+@[A-Za-z.]+(com|edu)\.tw)", email_text)

### Regular Expression 練習題
請到 [RegexOne](https://regexone.com/) 網站右上方的 Interactive Tutorial，完成總共 15 個 Lessons

## Modules
A module is a file containing Python definitions and statements. The file name is the module name with the suffix .py appended.

In [6]:
import os # import whole os module
os.path.abspath('..')

'C:\\Users\\home\\Google 雲端硬碟\\AIA\\Python_tutorial\\courses-master-fc75b7082921fcbf7dc8c2acc8ff3ee54d633523\\python_tutorial'

In [7]:
from os import * # import whole os module
os.path.abspath('..')

'C:\\Users\\home\\Google 雲端硬碟\\AIA\\Python_tutorial\\courses-master-fc75b7082921fcbf7dc8c2acc8ff3ee54d633523\\python_tutorial'

In [8]:
from os import path # import whole path submodule
path.abspath('..')

'C:\\Users\\home\\Google 雲端硬碟\\AIA\\Python_tutorial\\courses-master-fc75b7082921fcbf7dc8c2acc8ff3ee54d633523\\python_tutorial'

In [9]:
from os.path import abspath # import abspath function
abspath('..')

'C:\\Users\\home\\Google 雲端硬碟\\AIA\\Python_tutorial\\courses-master-fc75b7082921fcbf7dc8c2acc8ff3ee54d633523\\python_tutorial'

### os 套件常用操作

** os.path.abspath ** 顯示絕對路徑

In [31]:
os.path.abspath("session_1-ans.ipynb")

'C:\\Users\\home\\Google 雲端硬碟\\AIA\\Python_tutorial\\courses-master-fc75b7082921fcbf7dc8c2acc8ff3ee54d633523\\python_tutorial\\answers\\session_1-ans.ipynb'

In [35]:
'/'.join(['path', 'result', 'a.csv'])

'path/result/a.csv'

**os.path.join** 將多個字串組合為路徑

把'path', 'result', 'a.csv' 組合為路徑

In [24]:
os.path.join('path', 'result', 'a.csv')

'path\\result\\a.csv'

** os.path.exists** 檢查某路徑/資料夾是否存在

In [30]:
os.path.exists("python\session_1-ans.ipynb")

False

** os.makedirs ** 新增路徑

以下程式碼會檢查有沒有 test_folder 資料夾，若沒有就自動新增

In [ ]:
import os
path = 'home/test_folder'
# check the path
if not os.path.exists(path):
  # os.makedirs(path) 這段指令會自動生成資料夾

## glob

glob 可以搜尋符合特定規則的檔案路徑名。跟使用 windows 下的檔案搜索差不多。搜尋文件只用到三個匹配符："\*", "?", "[]"。"*" 匹配0個或多個字元；"?" 匹配單個字元；"[]" 匹配指定範圍內的字元，如：[0-9]匹配數字。

In [15]:
import glob 
glob.glob("*.ipynb")

['Session 1-ans.ipynb',
 'Session 1.ipynb',
 'Session 2.ipynb',
 'Session_2_ans.ipynb']